<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>财务报表</title>
    <div th:replace="util.html::boootstrap"></div>
</head>
<body>
<div th:replace="index1::navigation"></div>
<br>
<br>
<br>
<br>

<a style="width: 100px;height: 40px"  class="btn btn-danger" th:href="@{/Download}">下载报表</a>
<div id="main1" style="width: 1000px;height: 600px;padding-top: 50px;margin:auto"></div>
<script>
    var myecharts=echarts.init(document.getElementById("main1"));
    $.post("logEcharts",{},function (e) {
        myecharts.setOption({
            color: ['#003366', '#006699', '#4cabce', '#e5323e'],
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: e[0]
            },
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            xAxis: [
                {
                    type: 'category',
                    axisTick: {show: false},
                    data: e[1]
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: e[2]
        })
    },'json');
</script>
</body>
</html>